<!DOCTYPE html>
<html>
  <head>
    <title>git user cards</title>

    <%= javascript_pack_tag 'bestguess_vue' %>
    <%= stylesheet_pack_tag 'bestguess_vue', media: 'all' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
