<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Cards</title>

    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_pack_tag 'hello_vue', media: 'all' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
